<%if query.present?%>
  <% if movies.present?%>
    <h3> Results for <%= query %></h3>
      <% movies.each do |item| %>
        <div>
          <p>
          <%= image_tag item[:image],size: "210x140" %>
          </p>
          <p>
            Title: <%= item[:display_title]%>
          </p>
          <p>
            Overview: <%= item[:summary_short]%>
          </p>
          <p>
            Reviews: <%= item[:review]%>
          </p>
          <h3>
            Analysis:
          </h3>
            <% Watson.new.get_data(item[:review]).each do |tone| %>
              <p><b><%= tone['tone_name'] %>:</b> <%= tone['score'] * 100 %>%</p>
            <% end %>
        </div>
      <%end%>
  <%else%>
    <p>
      No results found
    </p>
    <hr>
  <%end%>
<%end%>
