<%if query.present?%>
  <% if movies.present?%>
    <h3> Results for <%= query %></h3>
      <% movies.each do |item| %>
      <hr>
        <div>
          <p>
            <% if item[:image].nil? %>
              <i>
                No Image Found
              </i>
            <% else %>
              <%= image_tag item[:image],size: "210x140" %>
            <% end %>
          </p>
          <p>
            Title: <%= item[:display_title]%>
          </p>
          <p>
            Overview: <%= item[:summary_short]%>
          </p>
          <p>
            <%= link_to "Review", home_reviews_path(url: item[:url]), method: :get, remote: true%>
          </p>
          <!-- <h3>
            Analysis:
          </h3> -->
          <%# if !Watson.new.get_data(item[:review]).nil? %>
            <%# Watson.new.get_data(item[:review]).each do |tone| %>
              <%# if item['code'] == 400 %>
                <!-- <i>No Review Given</i> -->
              <%# else %>
                <!-- <p><b><%#= tone['tone_name'] %>:</b> <%#= tone['score'] * 100 %>%</p> -->
              <%# end %>
            <%# end %>
          <%# end %>
        </div>
      <%end%>
  <%else%>
    <p>
      No results found
    </p>
    <hr>
  <%end%>
<%end%>

<%#= render 'reviews_and_analysis' %>
