<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @document.body %>
  <hr>
  <%= @document.get_data %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
